body {
    transition: background-color 0.8s;
    color: white;
    /* background: #2980b9; */
    background:#2fc97a;
    font-variant: small-caps;
    font-family: "Unica One", sans-serif;
  }
  
  .break {
    background: #34495e;
  }
  
  .mode {
    text-transform: uppercase;
    font-size: 96px;
    width: 275px;
    text-align: center;
    top: 120px;
    right: 290px;
    margin: 0 auto;
    position: relative;
  }
  
  .break .mode {
    left: 290px;
  }
  
  svg {
    display: block;
    cursor: pointer;
    max-width: 400px;
    margin: 14px auto;
  }
  
  @media (max-width: 860px) {
    .mode {
      position: absolute;
      top: 0px;
      right: auto;
      margin: 0;
      left: 0;
    }
    .break .mode {
      left: auto;
      right: 12px;
    }
    body {
      padding-top: 64px;
    }
  }
  
  .paused .timer {
    animation: blink 1s ease-in-out infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .modifiers {
    display: flex;
    margin: 32px auto;
    justify-content: space-between;
    max-width: 350px;
  }
  
  label, #stop {
    display: block;
    font-size: 28px;
  }
  
  #stop {
    font-family: "Unica One", sans-serif;
    text-transform: uppercase;
    margin-right: 8px;
    color: white;
    background: none;
    border: none;
  }
  
  .incrementor {
    text-align: center;
  }
  
  .incrementor h3 {
    
  }
  
  .incrementor div, .incrementor button {
    font-size: 42px;
    display: inline;
  }
  
  .incrementor button {
    background: none;
    outline: none;
    color: white;
    border: none;
  }
  
  button {
    cursor: pointer;
  }
  
  #work-length {
      margin: 0px 20px;
  }


  /* Custom button */
  .mui-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,.87);
    background-color: #FFF;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin-top: 0px;
    margin-bottom: 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    font-size: 14px;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
}

.mui-btn:active,.mui-btn:focus,.mui-btn:hover {
    color: rgba(0,0,0,.87);
    background-color: #fff
}

.mui-btn[disabled]:active,.mui-btn[disabled]:focus,.mui-btn[disabled]:hover {
    color: rgba(0,0,0,.87);
    background-color: #FFF
}

.mui-btn.mui-btn--flat {
    color: rgba(0,0,0,.87);
    background-color: transparent
}

.mui-btn.mui-btn--flat:active,.mui-btn.mui-btn--flat:focus,.mui-btn.mui-btn--flat:hover {
    color: rgba(0,0,0,.87);
    background-color: #f2f2f2
}

.mui-btn.mui-btn--flat[disabled]:active,.mui-btn.mui-btn--flat[disabled]:focus,.mui-btn.mui-btn--flat[disabled]:hover {
    color: rgba(0,0,0,.87);
    background-color: transparent
}

.mui-btn:active,.mui-btn:focus,.mui-btn:hover {
    outline: 0;
    text-decoration: none;
    color: rgba(0,0,0,.87)
}

.mui-btn:focus,.mui-btn:hover {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)
}

.mui-btn:active {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
}

.mui-btn.mui--is-disabled,.mui-btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .6;
    box-shadow: none
}

.mui-btn+.mui-btn {
    margin-left: 8px
}

.mui-btn--flat {
    background-color: transparent
}

.mui-btn--flat:active,.mui-btn--flat:focus,.mui-btn--flat:hover {
    box-shadow: none;
    background-color: #f2f2f2
}

.mui-btn--fab,.mui-btn--raised {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)
}

.mui-btn--fab:active,.mui-btn--raised:active {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
}

.mui-btn--fab {
    position: relative;
    padding: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    z-index: 1
}

.mui-btn--primary {
    color: #FFF;
    background-color: #2196F3
}

.mui-btn--primary:active,.mui-btn--primary:focus,.mui-btn--primary:hover {
    color: #FFF;
    background-color: #39a1f4
}

.mui-btn--primary[disabled]:active,.mui-btn--primary[disabled]:focus,.mui-btn--primary[disabled]:hover {
    color: #FFF;
    background-color: #2196F3
}

.mui-btn--primary.mui-btn--flat {
    color: #2196F3;
    background-color: transparent
}

.mui-btn--primary.mui-btn--flat:active,.mui-btn--primary.mui-btn--flat:focus,.mui-btn--primary.mui-btn--flat:hover {
    color: #2196F3;
    background-color: #f2f2f2
}

.mui-btn--primary.mui-btn--flat[disabled]:active,.mui-btn--primary.mui-btn--flat[disabled]:focus,.mui-btn--primary.mui-btn--flat[disabled]:hover {
    color: #2196F3;
    background-color: transparent
}

.mui-btn--dark {
    color: #FFF;
    background-color: #424242
}

.mui-btn--dark:active,.mui-btn--dark:focus,.mui-btn--dark:hover {
    color: #FFF;
    background-color: #4f4f4f
}

.mui-btn--dark[disabled]:active,.mui-btn--dark[disabled]:focus,.mui-btn--dark[disabled]:hover {
    color: #FFF;
    background-color: #424242
}

.mui-btn--dark.mui-btn--flat {
    color: #424242;
    background-color: transparent
}

.mui-btn--dark.mui-btn--flat:active,.mui-btn--dark.mui-btn--flat:focus,.mui-btn--dark.mui-btn--flat:hover {
    color: #424242;
    background-color: #f2f2f2
}

.mui-btn--dark.mui-btn--flat[disabled]:active,.mui-btn--dark.mui-btn--flat[disabled]:focus,.mui-btn--dark.mui-btn--flat[disabled]:hover {
    color: #424242;
    background-color: transparent
}

.mui-btn--danger {
    color: #FFF;
    background-color: #F44336
}

.mui-btn--danger:active,.mui-btn--danger:focus,.mui-btn--danger:hover {
    color: #FFF;
    background-color: #f55a4e
}

.mui-btn--danger[disabled]:active,.mui-btn--danger[disabled]:focus,.mui-btn--danger[disabled]:hover {
    color: #FFF;
    background-color: #F44336
}

.mui-btn--danger.mui-btn--flat {
    color: #F44336;
    background-color: transparent
}

.mui-btn--danger.mui-btn--flat:active,.mui-btn--danger.mui-btn--flat:focus,.mui-btn--danger.mui-btn--flat:hover {
    color: #F44336;
    background-color: #f2f2f2
}

.mui-btn--danger.mui-btn--flat[disabled]:active,.mui-btn--danger.mui-btn--flat[disabled]:focus,.mui-btn--danger.mui-btn--flat[disabled]:hover {
    color: #F44336;
    background-color: transparent
}

.mui-btn--accent {
    color: #FFF;
    background-color: #FF4081
}

.mui-btn--accent:active,.mui-btn--accent:focus,.mui-btn--accent:hover {
    color: #FFF;
    background-color: #ff5a92
}

.mui-btn--accent[disabled]:active,.mui-btn--accent[disabled]:focus,.mui-btn--accent[disabled]:hover {
    color: #FFF;
    background-color: #FF4081
}

.mui-btn--accent.mui-btn--flat {
    color: #FF4081;
    background-color: transparent
}

.mui-btn--accent.mui-btn--flat:active,.mui-btn--accent.mui-btn--flat:focus,.mui-btn--accent.mui-btn--flat:hover {
    color: #FF4081;
    background-color: #f2f2f2
}

.mui-btn--accent.mui-btn--flat[disabled]:active,.mui-btn--accent.mui-btn--flat[disabled]:focus,.mui-btn--accent.mui-btn--flat[disabled]:hover {
    color: #FF4081;
    background-color: transparent
}

.mui-btn--small {
    height: 30.6px;
    line-height: 30.6px;
    padding: 0 16px;
    font-size: 13px
}

.mui-btn--large {
    height: 54px;
    line-height: 54px;
    padding: 0 26px;
    font-size: 14px
}

.mui-btn--fab.mui-btn--small {
    width: 44px;
    height: 44px;
    line-height: 44px
}

.mui-btn--fab.mui-btn--large {
    width: 75px;
    height: 75px;
    line-height: 75px
}
  /* End Custom button */