body {
    transition: background-color 0.8s;
    color: #262228;
    /* background: #2980b9; */
    background:white;
    font-variant: small-caps;
    font-family: "Unica One", sans-serif;
  }
  
  .break {
    background: #34495e;
  }
  
  .mode {
    text-transform: uppercase;
    font-size: 96px;
    width: 275px;
    text-align: center;
    top: 120px;
    right: 290px;
    margin: 0 auto;
    position: relative;
  }
  
  .break .mode {
    left: 290px;
  }
  
svg {
    display: block;
    cursor: pointer;
    max-width: 400px;
    margin: 14px auto;
  }
  
  @media (max-width: 860px) {
    .mode {
      position: absolute;
      top: 0px;
      right: auto;
      margin: 0;
      left: 0;
    }
    .break .mode {
      left: auto;
      right: 12px;
    }
    body {
      padding-top: 64px;
    }
  }
  
  .paused .timer {
    animation: blink 1s ease-in-out infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .modifiers {
    display: flex;
    margin: 32px auto;
    justify-content: space-between;
    max-width: 350px;
  }
  
  label, #stop {
    display: block;
    font-size: 28px;
  }
  
  #stop {
    font-family: "Unica One", sans-serif;
    text-transform: uppercase;
    margin-right: 8px;
    color: black;
    font-weight:bolder;
    background: none;
    border: none;
    margin-top:-100px;
  }
  
  .incrementor {
    text-align: center;
  }
  
  .incrementor h3 {
    
  }
  
  .incrementor div, .incrementor button {
    font-size: 42px;
    display: inline;
  }
  
  .incrementor button {
    background: none;
    outline: none;
    color: black;
    border: none;
  }
  
  button {
    cursor: pointer;
  }
  
  #work-length {
      margin: 0px 20px;
      padding: 0.8%;
  }


  /* Custom button */
.startBtn{
    display: flex;
    justify-content: center;
}
.btn {
  background: #007849;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  color: #FFCE00;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
  padding: 12px 35px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-link {
    background: transparent;
    box-shadow: none;
    color: #222;
}
.circle {
      fill: rgba(0, 0, 0, 0.08);
    }

    .btn:hover,
    .btn:active {
      background: transparent;
    }

    .btn:focus, .btn:before {
        background: #FFCE00;
        color: #007849;
              font-weight: bolder;

      }
  
  .btn:focus{
    outline: none;
}
    .btn:before {
      transition: all 0.7s ease;
      content: "";
      position: absolute;
      background: #FFCE00 !important;
      z-index: 99;
      left: 15%;
      right: 15%;
      top: -50%;
      bottom: -50%;
      border-radius: 200%;
      -webkit-animation: pulse ease 1.4s infinite;
    }
  
  .btn:active,
  .btn:hover {
        background: #FFCE00;
        color: #007849;
      font-weight: bolder;
}
    .btn:before {
      opacity: 0;
      left: -10%;
      right: -10%;
}

.eff {
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes pulse {
  from {transform: scale(1);}
  50% {transform: scale(1.2);}
  to {transform: scale(1);}
}
